@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

.sparcs-nav a,
.sparcs-footer a{
  color: #333;
}

.sparcs-nav{
  border-style: solid;
  border-width: 0px;
  border-top-width: 5px;
  min-height: 55px;
  padding: 0!important;
}

.sparcs-nav .sparcs-collapse {
  padding: 0 24px 0 150px!important;
}

.sparcs-nav .navbar-brand {
  position: absolute;
  left: 0px;
  top: 0;
  width: 91.25px;
  height: 27px;
  background-image: url(../img/SPARCS_black.svg);
  background-repeat: no-repeat;
  margin: 11px 0px 12px 24px;
  /* font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #3388bb!important;
  line-height: 0.8rem;
  padding: 0.45rem 0;
  font-size:18px; */
}

.sparcs-nav .sparcs-navbar-toggler {
  position: absolute;
  right: 0px;
  top: 0px;
  border: 0px;
  margin: 13px 16px 13px 0px;
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 24px;
  outline: none;
}

.sparcs-nav .navbar-nav{
  padding: 8px 0 10px 0px;
}
.sparcs-nav .sparcs-nav-item {
  padding: 9px 0px 8px 0px;
}

.sparcs-nav .sparcs-nav-right {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 14px;
  line-height: 1em;
  margin: 17px 24px 17px 0px;
}

@media(max-width: 767.98px){
  .sparcs-nav .sparcs-collapse{
    padding-top: 50px!important;
    padding-bottom: 16px!important;
    padding-left: 34px!important;
    margin: 0!important;
  }
}

.sparcs-nav-item:not(:last-child) {
  margin-right: 24px;
}

.sparcs-nav-item .sparcs-nav-link {
  font-size: 15px;
  display: block;
  line-height: 1em;
}

.sparcs-nav-link:hover {
  color: #3388bb;
  text-decoration: none;
}

.sparcs-main {
  margin-top: 15px;
}

.sparcs-footer{
  min-height: 50px;
  padding: 0!important;
  margin-top: 3em;
}

.sparcs-footer .sparcs-brand-black{
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 91.25px;
  height: 27px;
  background-image: url(../img/SPARCS_black.svg);
  background-repeat: no-repeat;
  margin: 11px 0px 12px 24px;
}

.sparcs-footer .sparcs-footer-collapse{
  padding: 0 24px 0 150px!important;
}
.sparcs-footer .navbar-nav{
  padding: 8px 0 10px 0px;
}
.sparcs-footer .sparcs-nav-item {
  padding: 9px 0px 8px 0px;
}

.sparcs-footer .sparcs-nav-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 13px;
  line-height: 1em;
  margin: 18px 24px 19px 0px;
}

@media(max-width: 767.98px){
  .sparcs-footer .sparcs-footer-collapse{
    padding-bottom: 50px!important;
    padding-left: 34px!important;
    padding-top: 16px!important;
    margin: 0px!important;
  }
}

.proj-nav {
  border-color: #3388bb;
  background-color: #f6ffff;
}

.proj-footer {
  background-color: #f6ffff;
}

.nav-link {
  color: #333;
}

input[type = "number"] {
  width: 60px;
  text-align: right;
}

.list-tab-pane {
  padding-top: 15px;
}


.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > select,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group > .label-right {
  left:auto;
  right:0;
  text-align: right;
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group select::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder,
.form-label-group select:-ms-input-placeholder{
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder.
.form-label-group select::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder,
.form-label-group select::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown),
.form-label-group select:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label,
.form-label-group select:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder,
  .form-label-group select::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder,
  .form-label-group select:-ms-input-placeholder {
    color: #777;
  }
}

.signup {
  padding: 1em;
  text-align: center;
  align-items: center;
}

.signup a{
  text-decoration: underline;
  color: #333;
}



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
